@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');

* {
   padding: 0;
   margin: 0;
}

body {
   font-family: serif;
   background-color: #F7ECDE;
}

.container {
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
   padding: 20px;
   overflow: hidden;
   background-color: #54BAB9;
   display: flex;
   justify-content: space-between;
}

.container h1 {
   float: left;
   margin-left: 10%;
   color: #06283D;
}

.link {
   display: flex;
   margin-right: 10%;

}

.btn {
   cursor: pointer;
   margin: 0 5px;
   font-size: 18px;
   padding: 0 10px;
   border: none;
   background-color: transparent;
   transition: all .4s;
   border-radius: 20px;
}

.active {
   background-color: #FAC213;
}

.counter {
   border: 1px black solid;
   display: flex;
   color: #06283D;
}

.counter h3 {
   width: 50%;
   text-align: center;

}

#done {
   background-color: #A0D995;
   color: white;
}

#fail {
   background-color: #FF8B8B;
   color: white;
}

.wrapper {
   display: grid;
   grid-template-columns: 82% 18%;
}

.equation {
   font-family: 'Montserrat', sans-serif;
   font-size: 65px;
   background-color: #c1e9e9;
   border-radius: 10px;
   text-align: center;
   padding-top: 15%;
   margin: 10px 10px 0 10px;
   color: #06283D;
}

.equation h1 {
   display: inline;
   padding: 20px;

}

.answer-options {
   font-family: 'Montserrat', sans-serif;
   font-size: 67px;
   margin-right: 10px;
}

.answer-options h1 {
   cursor: pointer;
   border-radius: 10px;
   margin-top: 10px;
   text-align: center;
   width: 100%;
}

#option {
   background-color: #9ED2C6;
   transition: .5s;
   color: #06283D;
}

#option:hover {
   color: #9ED2C6;
   background-color: white;
}